@model WebApp.Models.UserModel

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br />
                <div class="form-check form-check-inline">
                    <input type="radio" asp-for="Gender" name="gender" class="form-check-input" value="Male" />
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" asp-for="Gender" name="gender" class="form-check-input" value="Female" />
                    <label class="form-check-label" for="inlineRadio1">Female</label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="form-control-file"></label>
                <div class="custom-file">
                    <input asp-for="ImageFile" class="custom-file-input" id="UserImage">
                    <label class="custom-file-label" for="UserImage">Choose file</label>
                </div>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Country</label>
                <select asp-for="CountryName" asp-items="@(new SelectList(ViewBag.CountryList,"CountryNames","CountryNames"))" class="form-control">
                    <option>--Select--</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SignUp" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        //$("#CountryId").change(function () {
        //    $("input[name=CountryName]").val($(this).find("option:selected").text());
        //    var Countryval = $(this).find("option:selected").text();
        //    $('#CountryName').val('newVal');
        //    alert($('#CountryName').val());
        //});
    </script>
}
